{% extends 'core.html' %} {% block title %} Book {% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col book_title">
                <h2>{{ book.title }}</h2>
            </div>
        </div>
        <div class="row">
            <div class="col">
                Subtitle :
            </div>
            <div class="col">
                {{ book.subtitle }}
            </div>
        </div>
        <div class="row">
            <div class="col">
                Author :
            </div>
            <div class="col">
                {{ book.authors }}
            </div>
        </div>
        <div class="row">
            <div class="col">
                Description :
            </div>
            <div class="col">
                {{ book.description }}
            </div>
        </div>
        <div class="row">
            <div class="col">
                Status
            </div>
            <div class="col">
                {{ book.status_id }}
            </div>
        </div>
        <div class="row">
            <form action="/update_status" method="post">
                <select class="form-select" name="status" aria-label="Book's Status">
                    <option value="0" selected>Select a status to modify it</option>
                    <option value="1">Reading</option>
                    <option value="2">Read</option>
                    <option value="3">To Buy</option>
                    <option value="4">To Read</option>
                </select>
                <input type="hidden" name="id" id="id" value="{{ book.id }}">
                <button type="submit" class="btn btn-primary">Add Book to your Library</button>
            </form>
        </div>
        <div class="row">
            <form action="/delete_book/{{ book.id }}" method="post">
                <button type="submit" class="btn btn-secondary">Delete this book</button>
            </form>
        </div>
    </div>
{% endblock %}