{% extends 'core.html' %} {% block title %} Book {% endblock %}
{% block content %}
    <div class="container">
        <div class="row mt-5">
            <div class="col book_title">
                <h2>{{ book.title }}</h2>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col bold">
                Sous-titre :
            </div>
            <div class="col">
                {{ book.subtitle }}
            </div>
        </div>
        <div class="row mb-3">
            <div class="col bold">
                Auteur :
            </div>
            <div class="col">
                {{ book.authors }}
            </div>
        </div>
        <div class="row mb-1">
            <div class="col bold">
                Description :
            </div>
        </div>
        <div class="row">
            <div class="col">
                {{ book.description }}
            </div>
        </div>
        <div class="row mb-3 mt-3">
            <div class="col bold">
                Statut :
            </div>
            <div class="col">
                {% if book.status_id == 1 %}
                    En cours de lecture
                {% elif book.status_id == 2 %}
                    Lu
                {% elif book.status_id == 3 %}
                    A se procurer
                {% elif book.status_id == 4 %}
                    A lire
                {% elif book.status_id == 5 %}
                    Abandonné
                {% endif %}
            </div>
        </div>
        <div class="container">
            <form action="/update_status" method="post">
                <div class="row mb-4">
                    <select class="form-select" name="status" aria-label="Book's Status">
                        <option value="0" selected>---Modifier le statut---</option>
                        <option value="1">En cours de lecture</option>
                        <option value="2">Lu</option>
                        <option value="3">A se procurer</option>
                        <option value="4">A lire</option>
                        <option value="5">Abandonné</option>
                    </select>
                </div>
                <div class="row mb-4">
                    <input type="hidden" name="id" id="id" value="{{ book.id }}">
                    <button type="submit" class="btn btn-secondary">Sauvegarder le statut</button>
                </div>
            </form>
            <form action="/delete_book/{{ book.id }}" method="post">
                <div class="row mb-3">
                    <button type="submit" class="btn btn-danger">Supprimer de ma bibliothèque</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}