{% extends 'core.html' %} {% block title %} Library {% endblock %}
{% block content %}
    <div class="accordion custom-accordion" id="accordionLibrary">
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    En cours de lecture :
                </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionLibrary">
                <div class="accordion-body">
                    {% for book in reading_list %}
                        {% if loop.index0 % 2 == 0 %}
                            <div class="row mb-3">
                        {% endif %}
                            <div class="col">
                                <div class="card">
                                    <div class="card-body">
                                        <h6 class="card-title">{{ book.title }}</h6>
                                        <a href="/book/{{ book.id }}" class="card-link">View Book</a>
                                    </div>
                                </div>
                            </div>
                        {% if loop.index0 % 2 == 1 or loop.last %}
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    A se procurer
                </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionLibrary">
                <div class="accordion-body">
                    {% for book in to_buy_list %}
                        {% if loop.index0 % 2 == 0 %}
                            <div class="row mb-3">
                        {% endif %}
                            <div class="col">
                                <div class="card">
                                    <div class="card-body">
                                        <h6 class="card-title">{{ book.title }}</h6>
                                        <a href="/book/{{ book.id }}" class="card-link">View Book</a>
                                    </div>
                                </div>
                            </div>
                        {% if loop.index0 % 2 == 1 or loop.last %}
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Lu :
                </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionLibrary">
                <div class="accordion-body">
                    {% for book in read_list %}
                        {% if loop.index0 % 2 == 0 %}
                            <div class="row mb-3">
                        {% endif %}
                            <div class="col">
                                <div class="card">
                                    <div class="card-body">
                                        <h6 class="card-title">{{ book.title }}</h6>
                                        <a href="/book/{{ book.id }}" class="card-link">View Book</a>
                                    </div>
                                </div>
                            </div>
                        {% if loop.index0 % 2 == 1 or loop.last %}
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                    A lire
                </button>
            </h2>
            <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionLibrary">
                <div class="accordion-body">
                    {% for book in to_read_list %}
                        {% if loop.index0 % 2 == 0 %}
                            <div class="row mb-3">
                        {% endif %}
                            <div class="col">
                                <div class="card">
                                    <div class="card-body">
                                        <h6 class="card-title">{{ book.title }}</h6>
                                        <a href="/book/{{ book.id }}" class="card-link">View Book</a>
                                    </div>
                                </div>
                            </div>
                        {% if loop.index0 % 2 == 1 or loop.last %}
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                    Abandonné :
                </button>
            </h2>
            <div id="collapseSix" class="accordion-collapse collapse" data-bs-parent="#accordionLibrary">
                <div class="accordion-body">
                    {% for book in gave_up_list %}
                        {% if loop.index0 % 2 == 0 %}
                            <div class="row mb-3">
                        {% endif %}
                            <div class="col">
                                <div class="card">
                                    <div class="card-body">
                                        <h6 class="card-title">{{ book.title }}</h6>
                                        <a href="/book/{{ book.id }}" class="card-link">View Book</a>
                                    </div>
                                </div>
                            </div>
                        {% if loop.index0 % 2 == 1 or loop.last %}
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                    Tous mes livres
                </button>
            </h2>
            <div id="collapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionLibrary">
                <div class="accordion-body">
                    {% for book in book_list %}
                        {% if loop.index0 % 2 == 0 %}
                            <div class="row mb-3">
                        {% endif %}
                            <div class="col">
                                <div class="card">
                                    <div class="card-body">
                                        <h6 class="card-title">{{ book.title }}</h6>
                                        <a href="/book/{{ book.id }}" class="card-link">View Book</a>
                                    </div>
                                </div>
                            </div>
                        {% if loop.index0 % 2 == 1 or loop.last %}
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}