{% extends 'core.html' %} {% block title %} S'enregister {% endblock %}
{% block content %}
    <section class="vh-100">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                    <div class="card shadow-2-strong" style="border-radius: 1rem;">
                        <div class="card-body p-5 text-center" style="background-color: #FAF0E6;">
                            <img src="{{ url_for('static', filename='logo') }}" class="img-thumbnail border-none" alt="panthota_img">
                            <h2 class="fw-bold mb-2 text-uppercase login-title">PANTHOTA</h2>

                            <form method="POST">
                                <div data-mdb-input-init class="form-outline mb-4">
                                    <label class="form-label" for="username">Nom d'utilisateur</label>
                                    <input type="text" name="username" id="username" class="form-control form-control-lg" />
                                </div>
                                <div data-mdb-input-init class="form-outline mb-4">
                                    <label class="form-label" for="password1">Mot de Passe</label>
                                    <input type="password" name="password1" id="password1" class="form-control form-control-lg" />
                                </div>
                                <div data-mdb-input-init class="form-outline mb-4">
                                    <label class="form-label" for="password2">Confirmation du Mot de Passe</label>
                                    <input type="password" name="password2" id="password2" class="form-control form-control-lg" />
                                </div>
                                <button data-mdb-button-init data-mdb-ripple-init class="btn btn-login btn-lg btn-block" type="submit">Créer un compte</button>
                            </form>
                            <div>
                                <p class="mb-0">Si vous avez un compte : <a href="/sign_up" class="text-black-50 fw-bold">Se Connecter</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}